---
import NavTop from "@/components/NavTop.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <nav>
    <NavTop />
  </nav>
  <body>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: "Motomangucode", system-ui, sans-serif;
      background: #13151a;
      color: #f1f0e1;
      margin-left: 10px;
      margin-right: 10px;

      --toastify-color-light: #fff;
      --toastify-color-dark: #121212;
      --toastify-color-info: #3498db;
      --toastify-color-success: #07bc0c;
      --toastify-color-warning: #f1c40f;
      --toastify-color-error: #e74c3c;
      --toastify-color-transparent: rgba(255, 255, 255, 0.7);

      --toastify-icon-color-info: var(--toastify-color-info);
      --toastify-icon-color-success: var(--toastify-color-success);
      --toastify-icon-color-warning: var(--toastify-color-warning);
      --toastify-icon-color-error: var(--toastify-color-error);

      --toastify-toast-width: 320px;
      --toastify-toast-background: #fff;
      --toastify-toast-min-height: 64px;
      --toastify-toast-max-height: 800px;
      --toastify-font-family: sans-serif;
      --toastify-z-index: 9999;

      --toastify-text-color-light: #757575;
      --toastify-text-color-dark: #fff;

      --toastify-text-color-info: #fff;
      --toastify-text-color-success: #fff;
      --toastify-text-color-warning: #fff;
      --toastify-text-color-error: #fff;

      --toastify-spinner-color: #616161;
      --toastify-spinner-color-empty-area: #e0e0e0;

      --toastify-color-progress-light: linear-gradient(
        to right,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ff2d55
      );

      --toastify-color-progress-dark: #bb86fc;
      --toastify-color-progress-info: var(--toastify-color-info);
      --toastify-color-progress-success: var(--toastify-color-success);
      --toastify-color-progress-warning: var(--toastify-color-warning);
      --toastify-color-progress-error: var(--toastify-color-error);

      --toastify-color-progress-bgo: 0.2;
    }

    @font-face {
      font-family: "Motomangucode";
      src: url("/fonts/Motomangucode.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Motomangucode";
      src: url("/fonts/MotomangucodeBold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
  </style>


</html>
