---
import { Button } from "@/components/ui/button";
import { LoadIndicator } from "@/components/LoadIndicator";
const { user } = Astro.locals;
const loading = false;
---

<input type="file" id="fileInput" style="display: none;" />
<Button id="selectFileButton" variant="outline">
  Importar Resumen JSON <span id="loadIndicator" class="ml-2">
    <LoadIndicator loading={true} />
  </span>
</Button>

<script>
  import { type ResumeJson } from "@/types/apiTypes.ts";
  import { EVENTS_UPDATE } from "@/components/ZustandStoreProvider";

  import { importResumeAsync } from "@/services/apiService.ts";
  const { useNotify } = await import("@/hooks/useNotify");

  const { notifySuccess, notifyError } = useNotify();
  const $button = document.getElementById("selectFileButton");
  const $inputFile = document.getElementById("fileInput");
  const userId = Number(getCookie("id"));
  const token = getCookie("token");
  const $loadIndicator = document.getElementById("loadIndicator");
  if ($loadIndicator) {
    console.log("hola");
    $loadIndicator.classList.add("hidden");
  }

  const importResume = (file: string) => {
    const resumeJson = {
      userId: userId,
      json: file,
      deletePrevious: true,
    };

    importResumeAsync(resumeJson, token)
      .then((result) => {
        if (result.success) {
          window.dispatchEvent(new Event(EVENTS_UPDATE.RefreshAll));
          notifySuccess(result.message);
        } else {
          console.log(result);
          notifyError(result.message);
        }
      })
      .catch((error) => {
        console.log(error);
        notifyError("Error inesperado importando resumen");
      });
  };

  if ($button && $inputFile) {
    $button.addEventListener("click", () => {
      $inputFile.click();
    });

    $inputFile.addEventListener("change", () => {
      const fileList: FileList = $inputFile.files; // Aquí obtenemos la lista de archivos
      if (fileList && fileList[0]) {
        const file = fileList[0];
        if ($loadIndicator) {
          $loadIndicator.classList.remove("hidden");
        }

        readAsText(file).then((contents) => {
          importResume(contents)
            .catch((error) => {
              console.log(error);
              notifyError("Error inesperado importando fichero");
            })
            .finally(() => {
              if ($loadIndicator) {
                $loadIndicator.classList.add("hidden");
              }
            });
        });
      }
    });
  }

  function getCookie(name: string): string {
    const cookies = document.cookie.split(";");
    const path = `${name}=`;
    const cookie = cookies.find((cookie) => cookie.trim().startsWith(path));
    if (!cookie) return "";
    return cookie.split("=")[1];
  }

  function readAsText(file: File): Promise<string> {
    return new Promise((resolve, reject) => {
      let reader = new FileReader();
      reader.onload = function (event) {
        resolve((event?.target?.result as string) ?? "");
      };
      reader.onerror = function (event) {
        reject(
          new Error("Error reading file: " + (event?.target?.error ?? "")),
        );
      };
      reader.readAsText(file);
    });
  }
</script>
