---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col flex-1 justify-center items-center content-start text-center md:text-start w-full"
  >
    <header
      class="flex flex-col items-center bg-gray-200 dark:bg-gray-900 pt-8 pb-10 md:pb-16 px-10 md:px-60 flex-grow w-full"
    >
      <h1
        class="text-2xl sm:text-4xl md:text-6xl mb-6 mt-10 text-blue-500 dark:text-gray-100"
      >
        Página
        <span class="text-gray-950 dark:text-blue-500">no encontrada</span>
      </h1>
      <p
        class="text-sm sm:text-lg md:text-xl text-gray-500 dark:text-gray-300 mb-4"
      >
        Lo siento mucho 🤦‍♂️
      </p>
      <p
        class="text-sm sm:text-lg md:text-xl text-gray-500 dark:text-gray-300 text-center"
      >
        <span class="text-gray-950 dark:text-blue-500">La página</span> a la que
        ha intentado acceder <span class="text-gray-950 dark:text-blue-500"
          >no existe</span
        >. Vuelva atrás e inténtelo de nuevo o ponte en contacto con nosotros.
      </p>
      <div
        class="flex flex-col md:flex-row gap-4 items-center my-4 md:my-0 self-center md:self-end"
      >
      </div>
    </header>
    <body> </body>
  </main>
</Layout>
