---
import Layout from "../layouts/Layout.astro";
import { CurriculumView } from "../components/Curriculum/Curriculum";
import ViewPublicCV from "@/components/Curriculum/ViewPublicCV";
import { ArrowRight } from "lucide-react";
import { Button } from "@/components/ui/button";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { SaveResume } from "@/components/Curriculum/SaveResume";
import { ImportResume } from "@/components/ImportResume";
import ImportJson from "@/components/importjson.astro";
const { user } = Astro.locals;
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] mx-auto"
  >
    <h1 class="text-3xl md:text-5xl mb-6 mt-10 text-blue-500">CV</h1>
    <section
      class="flex flex-col justify-start content-start items-start w-full my-4"
    >
      <body>
        <ul class="flex flex-col gap-3 items-start">
          <li class="flex flex-start flex-wrap gap-2">
            <a
              href="/secciones/"
              class={cn(
                buttonVariants({ variant: "outline" }),
                "text-xs md:text-sm",
              )}
              >Editar secciones públicas <ArrowRight
                className="ml-2 text-blue-500"
              /></a
            >
            <SaveResume userId={Number(user.id)} client:load />
          </li>
          <li>
            <ViewPublicCV client:load userId={user.id} />
          </li>
          <!-- <li><ImportResume client:load /></li> -->
          <li><ImportJson /></li>
        </ul>
      </body>
    </section>
    <CurriculumView client:load />
  </main>
</Layout>
