---
import Layout from "@/layouts/Layout.astro";
import { CurriculumView } from "@/components/Curriculum/Curriculum";
import ViewPublicCV from "@/components/Curriculum/ViewPublicCV";
import { ArrowRight } from "lucide-react";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { SaveResume } from "@/components/Curriculum/Resume/SaveResume";
import { ImportResume } from "@/components/Curriculum/Resume/ImportResume";
import { DeleteAll } from "@/components/Curriculum/DeleteAll";
import { ValidateJsonResume } from "@/components/Curriculum/Resume/ValidateJsonResume";

const { user } = Astro.locals;
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] md:mx-auto mx-4"
  >
    <h1
      class="text-3xl text-center md:text-5xl md:self-start mb-6 mt-4 text-blue-500"
    >
      Tu Perfil
    </h1>
    <section
      class="flex flex-col justify-start content-start items-start w-full my-4"
    >
      <body>
        <ul class="flex flex-col gap-3 items-start">
          <li class="flex flex-start flex-wrap gap-2">
            <a
              href="/secciones/"
              class={cn(
                buttonVariants({ variant: "outline" }),
                "text-xs md:text-sm",
              )}
              >Editar secciones públicas <ArrowRight
                className="ml-2 text-blue-500"
              /></a
            >
            <SaveResume userId={Number(user.id)} client:load />
          </li>
          <li>
            <ViewPublicCV client:load userId={user.id} />
          </li>
          <li>
            <div class="flex flex-row items-center gap-2 flex-wrap">
              <DeleteAll client:load />
              <ValidateJsonResume client:load />
              <ImportResume client:load />
            </div>
          </li>
        </ul>
      </body>
    </section>
    <CurriculumView client:load />
  </main>
</Layout>
@/components/Curriculum/Resume/SaveResume@/components/Curriculum/Resume/ImportResume
