---
import Layout from "../layouts/Layout.astro";
import Step from "@/components/Landing/Step.astro";
import { Wellcome } from "@/components/Wellcome";
const { id } = Astro.locals.user;
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-start text-center md:text-start w-full"
  >
    <header
      class="flex flex-col items-center bg-gray-200 dark:bg-gray-900 pt-8 pb-10 md:pb-16 px-10 w-full"
    >
      <h1
        transition:name="title"
        class="text-4xl sm:text-6xl md:text-6xl mb-6 mt-10 text-blue-500 dark:text-gray-100 text-center md:text-start max-w-[600px]"
      >
        <span
          class="text-4xl sm:text-6xl md:text-8xl text-gray-950 dark:text-blue-500"
          >Comparte</span
        > tu experiencia
      </h1>
      {
        id === "" && (
          <p class="text-sm sm:text-base md:text-lg text-gray-500 dark:text-gray-300 text-center mb-4">
            Rellena la información de tu curriculum y comparte tu perfil público
            con el resto de la comunidad
          </p>
        )
      }
      <div
        class="flex flex-col md:flex-row gap-4 items-center my-4 md:my-0 self-center"
      >
        <Wellcome client:load />
        <button id="hola">Boton hola</button>
      </div>
    </header>
    <body>
      <div
        class="relative top-[-20px] flex flex-col md:flex-row gap-6 items-center justify-center flex-wrap"
      >
        <Step
          step="1"
          title="Regístrate"
          description="Crea tu cuenta de usuario o inicia sesión para poder comenzar a usar la plataforma"
        />
        <Step
          step="2"
          title="Documenta"
          description="Complementa las diferentes secciones de tu curriculum usando un esquema de información estándar"
        />
        <Step
          step="3"
          title="Publica"
          description="Decide que secciones y que información deseas compartir en tu perfil público de usuario"
        />
        <Step
          step="4"
          title="Comparte"
          description="Selecciona una plantilla y utiliza tu perfil público para compartir tu curriculo con la comunidad"
        />
      </div>
    </body>
  </main>
</Layout>

<script is:inline>
  console.log("hola");
  const boton = document.getElementById("hola");
  if (boton) {
    console.log("si");
  } else {
    console.log("no");
  }
  document.addEventListener("astro:page-load", () => {
    console.log("dentro astro:page-load");
    if (boton) {
      boton.addEventListener("click", () => {
        console.log("hice click");
      });
    }
  });
</script>
