---
import Layout from "../layouts/Layout.astro";
import { Wellcome } from "@/components/Wellcome.tsx";
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] mx-auto"
  >
    <h1 class="text-3xl md:text-5xl mb-6 mt-10 text-blue-500">
      CV para desarroladores
    </h1>
    <p class="text-xs md:text-base">
      Rellena la información de tu curriculum y comparte tu perfil público
    </p>
    <Wellcome client:load />
  </main>
</Layout>
