---
import Layout from "../layouts/Layout.astro";
import { Wellcome } from "@/components/Wellcome.tsx";
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] mx-auto"
  >
    <h1 class="text-3xl md:text-5xl mb-6 mt-10 text-blue-500">
      Proyectos de desarrolladores
    </h1>
    <p class="text-xs md:text-base">
      Un ejemplo de diferentes buenas prácticas que todo desarrollador fullstack
      debería poder realizar
    </p>
    <Wellcome client:load />
  </main>
</Layout>
<script src="/src/scripts/theme.js" is:inline></script>
