---
import Layout from "../layouts/Layout.astro";
import { ResourcesList } from "@/components/Resources/ResourcesList";
---

<Layout title="dev profile for dev">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] mx-auto"
  >
    <h1 class="text-3xl md:text-5xl mb-6 mt-10 text-blue-500">Mis recursos</h1>
    <ResourcesList client:load />
  </main>
</Layout>
