---
import Layout from "../layouts/Layout.astro";
import { SectionList } from "../components/PublicSection/SectionList";
---

<Layout title="dev profile for dev ">
  <main
    class="flex flex-col justify-center items-center content-center text-center max-w-[800px] mx-auto"
  >
    <h1 class="text-3xl md:text-5xl mb-6 mt-10 text-blue-500">
      Información pública
    </h1>
    <SectionList client:load />
  </main>
</Layout>
