---
import { Button } from "@/components/ui/button";
---

<input type="file" id="fileInput" style="display: none;" />
<Button id="selectFileButton" variant="outline">Importar Resumen JSON</Button>

<script>
  const button = document.getElementById("selectFileButton");
  const inputFile = document.getElementById("fileInput");

  button.addEventListener("click", function () {
    inputFile.click();
  });

  inputFile.addEventListener("change", function () {
    var file = this.files[0];
    console.log(file);
  });
</script>
