<div class="py-2">
  <p class="text-xs md:text-base">
    <span class="text-blue-500">d</span>f<span
      class="text-blue-500 block animate-logo-rotate fill-mode-forwards">D</span
    >
  </p>
</div>
