---
import { SignUpModal } from "./SignUpModal";
import { ItemListNav } from "@/components/ItemListNav.tsx";
import { Logout } from "@/components/Logout";

function onLogout() {
  console.log("hola");
}
---

<section
  class="flex flex-row justify-between items-center h-14- min-h-14 gap-1"
>
  <div class="">
    <ul class="flex flex-row text-xs">
      <li class="text-3xl"></li>
    </ul>
  </div>

  <div class="">
    <ul class="flex flex-row text-xs gap-3">
      <ItemListNav client:load>Inicio</ItemListNav>
      <ItemListNav client:load authRequired={true}>Proyectos</ItemListNav>
      <ItemListNav client:load authRequired={true}>Cuestionarios</ItemListNav>
    </ul>
  </div>

  <div class="">
    <ul class="flex flex-row text-xs gap-3">
      <ItemListNav client:load hideLogged={true}>
        <SignUpModal client:load />
      </ItemListNav>
      <Logout client:load authRequired={true}>Cerrar Sesión</Logout>
    </ul>
  </div>
</section>
